body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}

/* Grid container */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    padding: 40px;
    border-radius: 10px;
}

/* Container styling */
.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Weather container */
#weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    box-sizing: border-box;
}

/* Individual weather box */
.weather-box {
    background-color: #2C3E50;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 120px;
    height: 150px;
    justify-content: space-around;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex-grow: 1;
    max-width: 200px;
}

/* Icon styling */
.weather-box .icon {
    font-size: 3rem;
    color: #FFD700;
}

/* Title styling */
.weather-box h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

/* Temperature and humidity values */
.temp-value, .humidity-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFD700;
}

/* Additional container styles */
#clock, #sensors, #notifications {
    background-color: #34495E;
    justify-content: center;
    align-items: center;
}

#sensors {
    background-color: #27AE60;
    flex-direction: row;
}

.meditation-icon {
    font-size: 5rem;
    color: #FFD700;
    margin-left: 10px;
}

#notifications {
    background-color: #E74C3C;
}

/* Sample text styling */
.time, .sensor-data {
    font-size: 6em;
    font-weight: bold;
}

.notification {
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 3em;
    font-weight: bold;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.description {
    font-size: 2em;
    margin-top: 10px;
    opacity: 0.8;
}
/* Animation for fading in and out */
.fade-in-out {
    animation: fadeInOut 3s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/* Fade-in animation */
.fade-in {
    opacity: 1;
}
